<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Title -->
    <title>Artesanos Cosco</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo">Arte<span>sanos</span></a>
            <!-- Login Btn -->
            <a href="#" class="login">Login</a>
        </div>

    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">ArtesanosCosco</h2>
                <span class="home-subtitle">Le meilleur Artisana</span>
        </div>
    </section>
    <!-- Blog-container -->
    <!-- Blog-container -->
    <div class="blog-container">
        <div th:each="produit : ${produits}" th:object="${produit}">
            <div class="blog-box">
                <div class="blog-img">
                    <img th:src="*{image}" alt="Blog"/>
                </div>
                <div class="blog-text">
                    <span th:text="*{nom}">n.a.</span>
                    <a th:href="@{/description/{id}(id=*{id})}" class="btn">Description</a>


                    <span class="middle-align" sec:authorize="isAuthenticated()">
                    Admin : &nbsp;<span sec:authentication="name">Bob</span>
                    <span sec:authentication="principal.authorities">[ROLE_USER]</span>
                    <th:block sec:authorize="hasRole('ADMIN')">
        &nbsp;             |&nbsp;
                    <a th:href="@{/admin/listProduit}">Lister les produits</a>
        &nbsp;              |&nbsp;
                    <a th:href="@{/admin/createProduit}">Ajouter un produit</a>
                    </th:block>
         &nbsp;             | &nbsp;
                    <a th:href="@{/admin/supprimerProduit}">Supprimer un produit</a>
         &nbsp;             | &nbsp;
                    <a th:href="@{/logout}">Se déconnecter</a>
                    </span>

                </div>
            </div>
        </div>
    </div>


    <!-- Link to JS -->
    <script src="js/produit.js"></script>

</body>
</html>